In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../data/latest.csv')

In [4]:
data.head()

,iso_code,continent,location,last_updated_date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2021-10-06,155380.0,71.0,36.000,7220.0,6.0,2.286,...,NaN,NaN,37.746,0.50,64.83,0.511,NaN,NaN,NaN,NaN
1,OWID_AFR,NaN,Africa,2021-10-06,8366236.0,12682.0,13364.000,212886.0,311.0,422.143,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ALB,Europe,Albania,2021-10-06,173190.0,572.0,532.571,2734.0,9.0,7.000,...,7.1,51.2,NaN,2.89,78.57,0.795,NaN,NaN,NaN,NaN
3,DZA,Africa,Algeria,2021-10-06,204171.0,125.0,139.000,5838.0,7.0,4.714,...,0.7,30.4,83.741,1.90,76.88,0.748,NaN,NaN,NaN,NaN
4,AND,Europe,Andorra,2021-10-06,15284.0,13.0,10.714,130.0,0.0,0.000,...,29.0,37.8,NaN,NaN,83.73,0.868,NaN,NaN,NaN,NaN

In [62]:
def calc_correlation(col1, col2, data):
    data_no_na = data[~data[col1].isna() & ~data[col2].isna()]
    return data_no_na[[col1, col2]].corr()

In [63]:
calc_correlation('gdp_per_capita', 'total_deaths', data)

                gdp_per_capita  total_deaths
gdp_per_capita        1.000000      0.008461
total_deaths          0.008461      1.000000

In [66]:
calc_correlation('people_vaccinated', 'total_deaths', data)

                   people_vaccinated  total_deaths
people_vaccinated           1.000000      0.896475
total_deaths                0.896475      1.000000

In [69]:
calc_correlation('people_fully_vaccinated', 'total_deaths', data)

                         people_fully_vaccinated  total_deaths
people_fully_vaccinated                 1.000000      0.864224
total_deaths                            0.864224      1.000000

In [88]:
data.dtypes

iso_code                                    object
continent                                   object
location                                    object
last_updated_date                           object
total_cases                                float64
                                            ...
human_development_index                    float64
excess_mortality_cumulative_absolute       float64
excess_mortality_cumulative                float64
excess_mortality                           float64
excess_mortality_cumulative_per_million    float64
Length: 65, dtype: object

In [70]:
columns_calc_corr = ['total_cases', 'new_cases', 'total_deaths', 'new_deaths', 'icu_patients', 'hosp_patients', 'total_tests', 'total_vaccinations', 'people_vaccinated', 'total_boosters', 'people_fully_vaccinated', 'population', 'median_age', 'aged_65_older', 'aged_70_older', 'gdp_per_capita', 'extreme_poverty']

In [78]:
corrs = {}

for i,col1 in enumerate(columns_calc_corr):
    for col2 in columns_calc_corr[i + 1:]:
        corrs[(col1, col2)] = calc_correlation(col1, col2, data).iloc[0,1]

In [92]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
data_numeric_col = data_no_na.select_dtypes(include=numerics).columns

In [103]:
corrs = []

for i,col1 in enumerate(data_numeric_col):
    for col2 in data_numeric_col[i + 1:]:
        corrs += [[col1, col2, calc_correlation(col1, col2, data_no_na).iloc[0,1]]]

In [105]:
corrs_df = pd.DataFrame(corrs, columns=['col1', 'col2', 'corr'])

In [106]:
corrs_df.to_csv('latest-correlations.csv')