In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../data/latest.csv')

In [4]:
data.head()

,iso_code,continent,location,last_updated_date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2021-10-06,155380.0,71.0,36.000,7220.0,6.0,2.286,...,NaN,NaN,37.746,0.50,64.83,0.511,NaN,NaN,NaN,NaN
1,OWID_AFR,NaN,Africa,2021-10-06,8366236.0,12682.0,13364.000,212886.0,311.0,422.143,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ALB,Europe,Albania,2021-10-06,173190.0,572.0,532.571,2734.0,9.0,7.000,...,7.1,51.2,NaN,2.89,78.57,0.795,NaN,NaN,NaN,NaN
3,DZA,Africa,Algeria,2021-10-06,204171.0,125.0,139.000,5838.0,7.0,4.714,...,0.7,30.4,83.741,1.90,76.88,0.748,NaN,NaN,NaN,NaN
4,AND,Europe,Andorra,2021-10-06,15284.0,13.0,10.714,130.0,0.0,0.000,...,29.0,37.8,NaN,NaN,83.73,0.868,NaN,NaN,NaN,NaN

In [3]:
def calc_correlation(col1, col2, data):
    data_no_na = data[~data[col1].isna() & ~data[col2].isna()]
    return data_no_na[[col1, col2]].corr()

In [63]:
calc_correlation('gdp_per_capita', 'total_deaths', data)

                gdp_per_capita  total_deaths
gdp_per_capita        1.000000      0.008461
total_deaths          0.008461      1.000000

In [66]:
calc_correlation('people_vaccinated', 'total_deaths', data)

                   people_vaccinated  total_deaths
people_vaccinated           1.000000      0.896475
total_deaths                0.896475      1.000000

In [9]:
calc_correlation('people_vaccinated_per_hundred', 'total_deaths', data)

                               people_vaccinated_per_hundred  total_deaths
people_vaccinated_per_hundred                       1.000000      0.089592
total_deaths                                        0.089592      1.000000

In [8]:
data.columns

Index(['iso_code', 'continent', 'location', 'last_updated_date', 'total_cases',
       'new_cases', 'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [12]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
data_numeric_col = data.select_dtypes(include=numerics).columns

In [18]:
filtered_columns = []
for c in data_numeric_col:
    if c + '_per_million' in data_numeric_col or  c + '_per_hundred' in data_numeric_col:
        pass
    else:
        filtered_columns += [c]

corrs = []

for i,col1 in enumerate(filtered_columns):
    for col2 in filtered_columns[i + 1:]:
        corrs += [[col1, col2, calc_correlation(col1, col2, data).iloc[0,1]]]

In [20]:
corrs_df = pd.DataFrame(corrs, columns=['col1', 'col2', 'corr'])

In [21]:
corrs_df.to_csv('latest-correlations.csv')